<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>CreationServlet</display-name>
    <servlet-name>CreationServlet</servlet-name>
    <servlet-class>controller.user.CreationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationServlet</servlet-name>
    <url-pattern>/CreationServlet</url-pattern>
  </servlet-mapping>
  <display-name>ProjetFilRouge</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreationClassroomServlet</display-name>
    <servlet-name>CreationClassroomServlet</servlet-name>
    <servlet-class>controller.classroom.CreationClassroomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationClassroomServlet</servlet-name>
    <url-pattern>/CreationClassroomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreationSessionServlet</display-name>
    <servlet-name>CreationSessionServlet</servlet-name>
    <servlet-class>controller.session.CreationSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationSessionServlet</servlet-name>
    <url-pattern>/CreationSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreationTrainingServlet</display-name>
    <servlet-name>CreationTrainingServlet</servlet-name>
    <servlet-class>controller.training.CreationTrainingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationTrainingServlet</servlet-name>
    <url-pattern>/CreationTrainingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreationThemeServlet</display-name>
    <servlet-name>CreationThemeServlet</servlet-name>
    <servlet-class>controller.theme.CreationThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationThemeServlet</servlet-name>
    <url-pattern>/CreationThemeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreationMatterServlet</display-name>
    <servlet-name>CreationMatterServlet</servlet-name>
    <servlet-class>controller.matter.CreationMatterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationMatterServlet</servlet-name>
    <url-pattern>/CreationMatterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreationEvaluationServlet</display-name>
    <servlet-name>CreationEvaluationServlet</servlet-name>
    <servlet-class>controller.evaluation.CreationEvaluationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationEvaluationServlet</servlet-name>
    <url-pattern>/CreationEvaluationServlet</url-pattern>
  </servlet-mapping>
</web-app>